.container {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  min-height: 100dvh;
  width: 0;
  overflow: visible;
  z-index: 1000000;
  @apply shadow-2xl shadow-stone-900;
}

.content {
  position: absolute;
  top: 0;
  left: -336px;
  bottom: 0;
  height: 100%;
  width: 336px;
  overflow: auto;
  transition: left 0.3s ease-in-out;
  background: var(--mantine-color-body);
  &[data-open='true'] {
    left: 0 !important;
  }
}

.triggerOutside {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.67rem;
  display: flex;
  // align-items: center;
  // justify-content: center;
}
.triggerOutsideMore {
  transform: scaleY(0.933);
  padding: 1rem 1.4rem;
}
