.container {
  position: absolute;
  top: 0;
  right: 0;
}
.trigger {
}
.triggerContent {
  margin: 0.825rem 0.75rem;
  position: absolute;
  white-space: nowrap;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown {
  white-space: nowrap;
}
