
.sentiment {
  border: solid 1px transparent;
  text-align:center;
  &[data-s1="BUY"] {
    background: rgba(0, 128, 0, 0.25);
    &[data-s2="low"] {
      border-color: rgba(0, 128, 0, 0.5);
    }
  }
  &[data-s1="HODL"] {
    background: rgba(128, 128, 128, 0.33);
    &[data-s2="low"] {
      border-color: rgba(0, 177, 0, 0.5);
    }
    &[data-s2="high"] {
      border-color: rgba(177, 0, 0, 0.5);
    }
  }
  &[data-s1="SELL"] {
    background: rgba(255, 0, 0, 0.125);
    &[data-s2="high"] {
      border-color: rgba(255, 0, 0, 0.25);
    }
  }
}
