.sentimentContainer {
  width: 100%;
  background: rgba(122, 122, 122, 0.5);
  margin-bottom: 0.5rem;
}
.sentiment {
  position: relative;
  margin: 0;
  height: 100%;
  // overflow: hidden;
  padding: 0.75rem 0 0.75rem 0;
  line-height: 1.25rem;
  white-space: nowrap;
  // border: solid 0.5rem transparent;
  border-left: none;
  border-right: none;
  text-align: left;
  font-weight: 300;
  width: 100%;
  color: rgba(222, 222, 222, 1);
  text-shadow: 0 0 5px #666;
  * {
    position: relative;
    z-index: 10;
  }
  b {
    font-weight: 700;
    text-shadow: 0 0 50px black;
    color: rgba(199, 199, 199, 0.75);
  }
  &[data-delta='1'] {
    background: rgba(0, 99, 0, 0.875);
  }
  &[data-delta='0.1'] {
    background: rgba(11, 122, 11, 0.15);
  }
  &[data-delta='-1'] {
    background: rgba(122, 33, 33, 0.875);
  }
  &[data-delta='-0.1'] {
    background: rgba(122, 33, 33, 0.125);
  }
  &[data-rsi='50'] b {
    color: rgba(50, 205, 50, 1);
    filter: saturate(0.2);
  }
  &[data-rsi='40'] b {
    color: rgba(50, 205, 50, 1);
    filter: saturate(0.5);
  }
  &[data-rsi='30'] b {
    color: rgba(50, 205, 50, 1);
    filter: saturate(0.8);
  }
  &[data-rsi='90'] b {
    color: rgba(255, 100, 100, 1);
    filter: saturate(0.75);
  }
  &[data-rsi='80'] b {
    color: rgba(220, 100, 100, 1);
    filter: saturate(0.5);
  }
  &[data-rsi='70'] b {
    color: rgba(255, 123, 123, 1);
    filter: saturate(0.1);
  }

  // &[data-rsi='90'],
  // &[data-rsi='80'],
  // &[data-rsi='70'] {
  //   &[data-x='down'] {
  //     border-color: rgba(255, 0, 0, 0.33);
  //   }
  // }
  // &[data-rsi='50'],
  // &[data-rsi='40'],
  // &[data-rsi='30'] {
  //   &[data-x='up'] {
  //     border-color: rgba(0, 255, 0, 0.33);
  //   }
  // }
  // &[data-d='up'] {
  //   border-color: rgba(0, 255, 0, 0.22);
  // }
  // &[data-d='down'] {
  //   border-color: rgba(255, 0, 0, 0.22);
  // }
  // &[data-c='up'] {
  //   border-color: rgba(255, 0, 0, 0.11);
  // }
  // &[data-c='down'] {
  //   border-color: rgba(0, 255, 0, 0.11);
  // }
}

.diagonalContainer {
  position: relative;
  z-index: 10;
}
.diagonal {
  position: absolute;
  top: calc(50%);
  left: -11px;
  width: 29px;
  height: 1px;
  display: block;
  z-index: -1;
  background: rgba(255, 255, 255, 0.3);
  &.dDownRight {
    top: calc(50% + 1px);
    left: -10px;
    transform: rotate(-135deg);
  }
  &.dUpRight {
    left: -10px;
    transform: rotate(135deg);
  }
  &.dUp {
    transform: rotate(90deg);
    left: -6px;
    width: 23px;
  }
  &.dDown {
    transform: rotate(-90deg);
    top: calc(50% - 1px);
    left: -6px;
    width: 23px;
  }
  &.dRight {
    width: 19px;
    left: -5px;
    transform: rotate(180deg);
  }
}

.vergence {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  // width: 100%;
  height: 100%;
  // overflow: hidden;
  canvas {
    opacity: 0.75;
    // transform: scale(0.75);
    transform-origin: center;
    position: absolute;
    right: 0;
    top: 0;
    // width: 100%;
    height: 100%;
  }
}
