.reactHotToast > div[role='status'] {
  padding: 0.4rem 0.25rem 0.4rem !important;
}

.mantine-Fieldset-root {
}

.hide-mobile {
  @media (max-width: 767px) {
    display: none;
  }
}
.hide-desktop {
  @media (min-width: 768px) {
    display: none;
  }
}
